<footer class="footer container">
    <div class="footer-content">
        <div class="copyright mono-text">
            © 2026 Ankit Sagar
        </div>
        <div class="socials">
            <a href="https://www.linkedin.com/in/sagarankit000/" target="_blank" rel="noopener">LinkedIn</a>
            <a href="https://behance.net" target="_blank" rel="noopener">Behance</a>
            <a href="https://instagram.com" target="_blank" rel="noopener">Instagram</a>
        </div>
    </div>
</footer>